.item-area
  .item-area__item.title-box
    = "#{@user.name}さんの『断捨離』一覧"
  = render partial: "shared/search", locals: {tagpath: mydump_user_path(current_user.id), searchpath: dumpsearch_user_path(current_user.id)}

.buy
  - @dumps.each do |dump|
    - if dump.user_id == @user.id
      .buy__item{:style => "background-image: url(#{dump.image.url})"}
        .buy__item-top
          .buy__item-top.item-title
            = dump.goods
          .buy__item-top.item-bar
            = icon('fas fa-caret-down', class: "menu-icon")
            %ul.more-list
              %li
                = link_to "SHOW", dump_path(dump.id), method: :get
              %li
                = link_to "EDIT", edit_dump_path(dump.id), method: :get
              %li
                = link_to "DELETE", dump_path(dump.id), method: :delete, data: { confirm: "本当に投稿を削除しますか?" } 
        .buy__item-bottom
          .buy__item-bottom.item-icon
            %div{id: "hate-#{dump.id}", class: "buy__item-bottom item-icon__hate"}
              = render partial: "likes/like", locals: {dump: dump}
            .buy__item-bottom.item-icon__comment
              - if user_signed_in?
                = link_to dump_path(dump.id), method: :get do
                  = icon('fas fa-comment-alt', class: "comment-icon")
              - else
                = icon('fas fa-comment-alt', class: "comment-icon")
              .buy__item-bottom.item-icon__comment-count
                = dump.dump_comments.count
          .buy__item-bottom.item-writer
            = dump.user.name