.item-area
  .item-area__item.title-box
    みんなの購入品はどんなもの？
  = render partial: "shared/search", locals: {tagpath: buys_path, searchpath: search_buys_path}

.buy
  - @buys.each do |buy|
    .buy__item{:style => "background-image: url(#{buy.image.url})"}
      .buy__item-top
        .buy__item-top.item-title
          = buy.goods
        .buy__item-top.item-bar
          = icon('fas fa-caret-down', class: "menu-icon")
          %ul.more-list
            %li
              = link_to "SHOW", buy_path(buy.id), method: :get
            - if user_menu_list(buy)
              %li
                = link_to "EDIT", edit_buy_path(buy.id), method: :get
              %li
                = link_to "DELETE", buy_path(buy.id), method: :delete, data: { confirm: "本当に投稿を削除しますか?" } 
      .buy__item-bottom
        .buy__item-bottom.item-icon
          %div{id: "hate-#{buy.id}", class: "buy__item-bottom item-icon__hate"}
            = render partial: "hates/hate", locals: {buy: buy}
          .buy__item-bottom.item-icon__comment
            - if user_signed_in?
              = link_to buy_path(buy.id), method: :get do
                = icon('fas fa-comment-alt', class: "comment-icon")
            - else
              = icon('fas fa-comment-alt', class: "comment-icon")
            .buy__item-bottom.item-icon__comment-count
              = buy.comments.count
        .buy__item-bottom.item-writer
          = buy.user.name
= paginate(@buys)