.send-buy__form.form__buy
  = form_for [@dump], html: {class: "form__area"} do |f|
    .send__buy
      - if @dump.errors.any?
        %ul
          %li.error__messages
            = @dump.errors.full_messages_for(:goods).first
      = f.text_field :goods, class: "send__buy-goods", placeholder: "断捨離品 （例）洋服"
      - if @dump.errors.any?
        %ul
          %li.error__messages
            = @dump.errors.full_messages_for(:price).first
      = f.text_field :price, class: "send__buy-price", placeholder: "購入時の金額 （例）15000"
      - if @dump.errors.any?
        %ul
          %li.error__messages
            = @dump.errors.full_messages_for(:dump_tags).first
      = f.fields_for :dump_tags do |t|
        = t.collection_select :tag_id, Tag.all, :id, :name, include_blank: '選択してください'
      = f.label :image, class: "send__buy-image" do
        = icon('fas', 'image', class: "send__buy-image__icon")
        写真を選択してください
        = f.file_field :image, class: "send__buy-image__field"
      - if @dump.errors.any?
        %ul
          %li.error__messages
            = @dump.errors.full_messages_for(:description).first
      = f.text_area :description, class: "send__buy-description", rows: "10", placeholder: "断捨離した理由 （例）同じような洋服を何枚も持っているため、断捨離しました。"
      = f.submit "Send", class: "send__buy-submit"