.send-buy__page
  = render "shared/mypage"
  .send-buy__form
    .send-buy__form.form__title
      = icon("fas fa-shopping-cart", class: "shopping-icon")
      購入品を編集する
    .send-buy__form.form__buy
      = form_for [@buy], html: {class: "form__area"} do |f|
        .send__buy
          - if @buy.errors.any?
            %ul
              %li.error__messages
                = @buy.errors.full_messages_for(:goods).first
          = f.text_field :goods, class: "send__buy-goods", placeholder: "goods"
          - if @buy.errors.any?
            %ul
              %li.error__messages
                = @buy.errors.full_messages_for(:price).first
          = f.text_field :price, class: "send__buy-price", placeholder: "price"
          - if @buy.errors.any?
            %ul
              %li.error__messages
                = @buy.errors.full_messages_for(:buy_tags).first
          = f.fields_for :buy_tags do |t|
            = t.collection_select :tag_id, Tag.all, :id, :name, include_blank: '選択してください'
          = f.label :image, class: "send__buy-image" do
            = icon('fas', 'image', class: "send__buy-image__icon")
            写真を選択してください
            = f.file_field :image, class: "send__buy-image__field"
          - if @buy.errors.any?
            %ul
              %li.error__messages
                = @buy.errors.full_messages_for(:description).first
          = f.text_area :description, class: "send__buy-description", rows: "10", placeholder: "description"
          = f.submit "Send", class: "send__buy-submit"