.buy-show
  .buy-show__image{:style => "background-image: url(#{@buy.image.url})"}
    .buy-show__image-bar
      = icon('fas fa-caret-down', class: "menu-icon")
      - if user_signed_in?
        %ul.more-list
          %li
            = link_to "EDIT", edit_buy_path(@buy.id), method: :get
          %li
            = link_to "DELETE", buy_path(@buy.id), method: :delete
    .buy-show__image-icon
      .buy-show__image-icon__hate
        = icon('fas fa-heart-broken', class: "hate-icon")
        ４
      .buy-show__image-icon__comment
        = icon('fas fa-comment-alt', class: "comment-icon")
        ２
  .buy-show__list
    %table
      %tr
        %th.buy-show__item-bottom.show-writer
          投稿者
        %td.buy-show__item-bottom.show-writer
          = @buy.user.name
      %tr
        %th.buy-show__list-title
          購入品
        %td.buy-show__list-title
          = @buy.goods
      %tr
        %th.buy-show__list-tag
          タグ
        %td.buy-show__list-tag
          - @buy.tags.each do |tag|
            = tag.name
      %tr
        %th.buy-show__list-price
          購入金額
        %td.buy-show__list-price
          = @buy.price
      %tr
        %th.buy-show__list-description
          購入した理由
        %td.buy-show__list-description
          = @buy.description

.buy-comment
  .buy-comment__title
    〈コメント一覧〉
  .buy-comment__list
    .buy-comment__list-writter
      ゆうあ：
    .buy-comment__list-comment
      いい買い物だと思います。
      
  .buy-comment__list
    .buy-comment__list-writter
      杉ちゃん：
    .buy-comment__list-comment
      私も買いました。
