.buy-show
  .buy-show__image{:style => "background-image: url(#{@buy.image.url})"}
    .buy-show__image-bar
      = icon('fas fa-caret-down', class: "menu-icon")
      - if user_signed_in?
        %ul.more-list
          %li
            = link_to "EDIT", edit_buy_path(@buy.id), method: :get
          %li
            = link_to "DELETE", buy_path(@buy.id), method: :delete
    .buy-show__image-icon
      .buy-show__image-icon__hate
        = icon('fas fa-heart-broken', class: "hate-icon")
        ４
      .buy-show__image-icon__comment
        = icon('fas fa-comment-alt', class: "comment-icon")
        = @buy.comments.count
  .buy-show__list
    %table
      %tr
        %th.buy-show__item-bottom.show-writer
          投稿者
        %td.buy-show__item-bottom.show-writer
          = @buy.user.name
      %tr
        %th.buy-show__list-title
          購入品
        %td.buy-show__list-title
          = @buy.goods
      %tr
        %th.buy-show__list-tag
          タグ
        %td.buy-show__list-tag
          - @buy.tags.each do |tag|
            = tag.name
      %tr
        %th.buy-show__list-price
          購入金額
        %td.buy-show__list-price
          = @buy.price
      %tr
        %th.buy-show__list-description
          購入した理由
        %td.buy-show__list-description
          = @buy.description

.buy-comment
  - if current_user
    .buy-comment__send
      = form_for [@buy, @comment], html: {class: "buy-comment__send-form"} do |f|
        = f.text_area :text, class: "buy-comment__send-text", placeholder: "コメントをする"
        = f.submit "SEND", class: "buy-comment__send-submit"
  .buy-comment__title
    〈コメント一覧〉
    - if @comments
      - @comments.each do |comment|
        .buy-comment__list
          .buy-comment__list-writter
            = "#{comment.user.name}:"
          .buy-comment__list-comment
            = comment.text
