.sign-up__form
  Minimumをはじめましょう
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .field.user-name
    = f.label :name
    %em 必須
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name", class: "user__field", placeholder: "例）ミニマムっち"
    - if resource.errors.any?
      %ul
        %li.error__messages-user
          = resource.errors.full_messages_for(:name).first

  .field.user-email
    = f.label :email
    %em 必須
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "user__field", placeholder: "携帯・パソコンどちらでも可"
    - if resource.errors.any?
      %ul
        %li.error__messages-user
          = resource.errors.full_messages_for(:email).first

  .field.user-password
    = f.label :password
    %em 必須
    %br/
    = f.password_field :password, autocomplete: "new-password", class: "user__field", placeholder: "半角英数字６文字以上"
    - if resource.errors.any?
      %ul
        %li.error__messages-user
          = resource.errors.full_messages_for(:password).first

  .field.user-password_confirmation
    = f.label :password_confirmation
    %em 必須
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", class: "user__field", placeholder: "半角英数字６文字以上"
    - if resource.errors.any?
      %ul
        %li.error__messages-user
          = resource.errors.full_messages_for(:password_confirmation).first
  
    %p.attention ※ 登録情報は正しく入力してください。会員登録後、登録内容を変更することができます。

  .user-submit
    = f.submit "会員登録をする", class: "user-submit__btn"
